In [8]:
import pyarrow.parquet as pq
import pandas as pd
import pyarrow as pa


def wiev_parquet (path_to_parquet):
    table2 = pq.read_table(path_to_parquet)
    return table2.to_pandas()
    
    
wiev_parquet("Data/Static_database/loot_of_bosses.parquet")

     boss_id item_id
0          0   39427
1          0   39467
2          0   39468
3          0   39470
4          0   39472
..       ...     ...
784       31   40403
785       31   40405
786       31   40631
787       31   40632
788       31   40633

[789 rows x 2 columns]